@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
  background: #fff url(/images/f9.png) top left no-repeat ;
  
}

@responsive {
  .bg-network-left{
    background: url(/images/lonlon.png) top left no-repeat;
  }
  .bg-network-right{
    background: url(/images/f9.png) top right no-repeat;
  }
}