@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
  background: url(/images/fundo-05.png) top right no-repeat ;
  
}
@responsive {
  .bg-network-left{
    background: url(/images/lonlon.png) top left no-repeat;
  }
  .bg-network-right{
    background: url(/images/fundo-05.png) top right no-repeat;
  }
}